*{
    padding: 0px;
    margin: 0px;
    font-family: "Archivo Black", sans-serif;
}
header{
    width: 100%;
    height: 60px;
    background-color:rgb(57, 0, 0);
    color: bisque;
}
header h1{
    font-family: "Wittgenstein", serif;
    font-size: 5cqb;
    color: bisque;
    text-decoration: underline;
}
header h4 button{
    font-family: "Archivo Black", sans-serif;
    margin-left: 10px;
    margin-top: -40px;
    font-size: smaller;
    float: right;
}
body{
    background-attachment: fixed;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcwirhyfxAvNJeD9dB14otHpV7pytmSI-4xQ&s);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
label{
    width: 500px;
}
#para{
    position: sticky;
    top: 0%;
}
.row{
    width: 17px;
    height: 750px;
    display: flex;
    margin-left: 160px;
    justify-content: space-around;
}
.col{
    width: 400px;
    height: 2000;
    margin: 20px;
    background-color: rgb(52, 0, 0);
    padding: 10px;
}
.col1{
    background-color:rgb(52, 0, 0);
}
.col2{
    background-color:rgb(52, 0, 0);
}
.col3{
    background-color:rgb(52, 0, 0);
}
.col4{
    background-color:rgb(52, 0, 0);
}
img{
    width: 300px;
    height: 220px;
    padding-top: 10px;
}
h2{
    text-align: center;
    text-decoration: dotted;
    color: rgb(155, 107, 48);
    font-family: "Archivo Black", sans-serif;
    font-size: xx-large;
    text-decoration: overline;
}
h3{
    text-align: center;
    color:beige;
    text-decoration: wavy;
    font-size: x-large;
    font-family: "Cormorant Garamond", serif;
}
p{
    color: beige;
}
#Buy{
    margin-left: 70px;
    padding-right: 10px ;
    font-family: 'Courier New', Courier, monospace;
}
#add{
    margin-left: 70px;
    padding-right: 10px;
}
button{
    border-radius: 30px;
    width: 200px;
    font-family: font-family: "Merriweather", serif;
}
h4{
    color: antiquewhite;
}
footer{
    background-color: brown;
    padding-top: 10px;
    width: 100%;
    height: 400px;
}
#logo{
    float: left;
}
.allrightreserve{
    padding-right: 10px;
    margin-right: 10px;
}
a{
    margin-left: 50%;
    width: 50px;
    height: 50px;
}
.footer {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1280px;
    width: 95%;
    background: rgb(84, 2, 2);
    border-radius: 6px;
    margin-top: 100%;
  }
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
  }
  .footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .footer-col .links {
    margin-top: 20px;
  }
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }
  .footer-col .links li a:hover {
    color: #fff;
  }
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid rgb(86, 0, 0) ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
  }
  .footer-col input::placeholder {
    color: #ccc;
  }
   .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  .footer-col form button:hover {
    background: #cecccc;
  }
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  .footer-col .icons i {
    color: #afb6c7;
  }
  .footer-col .icons i:hover  {
    color: #fff;
  }
  @media (max-width: 768px) {
    .footer {
      position: relative;
      bottom: 0;
      left: 0;
      transform: none;
      width: 100%;
      border-radius: 0;
    }
    .footer .footer-row {
      padding: 20px;
      gap: 1rem;
    }
    .footer-col form {
      display: block;
    }
    .footer-col form :where(input, button) {
      width: 100%;
    }
    .footer-col form button {
      margin: 10px 0 0 0;
    }
  }